<!-- <p [style.font-size.rem]="isCurrect? 2:8">this is just testing</p> -->



<!-- <p [style]="styles">this is another test paragraph</p> -->


<!-- <p [class]="isCurrect?'small-font-size':'big-font-size'">this is third testing paragraph</p> -->



<!-- <p [class]="classes">fourth paragraph</p> -->


<!-- <p *ngIf="isUserShown; else myelse" >this is ngif</p>
<ng-template #myelse>
  <p >this is else</p>
</ng-template> -->
<!-- <app-users *ngIf="isUserShown"></app-users> -->




<!-- <div *ngFor="let user of users;let i=index;">{{i+' '+user}}</div> -->
<button (click)="changeUsersObj()">change user object</button>

<div *ngFor="let user of usersObj">{{user.id+' : '+user.name}}</div>



